.work_item {
  position: relative;
  margin-bottom: 30px;
  min-height: 200px;
  display: inline-block;
}
.work_item .work_hover_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  opacity: 0;
  background-color: rgba(53, 161, 180, 0.85);
  transition: opacity .5s;
  display: flex;
  align-items: center;
}

.work_item .work_hover_mask:before {
  content: '';
  border-top: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
  transform: scale(0, 1);
  transition: transform .5s;
}
.work_item .work_hover_mask:after {
  content: '';
  border-right: 1px dashed #fff;
  border-left: 1px dashed #fff;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
  transform: scale(1, 0);
  transition: transform .5s;
}
.work_item .work_hover_mask .mask-container {
  z-index: 5;
  padding: 0px 15px;
  transition: all .5s;
}
.work_item .work_hover_mask .mask-container h4 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
  transform: translateY(-10px);
  transition: all 0.5s ease 0s;
}
.work_item .work_hover_mask .mask-container .divider-border {
  border-bottom: 1px solid #fff;
  width: 60%;
  margin: 15px auto 11px;
}

.work_item .work_hover_mask .btn-default {
  transform: translateY(90px);
  transition: all 0.5s ease 0s; 
  border-radius: 35px;
  color: #00A1B6 !important;
  
}
.work_item .work_hover_mask  .work_item .work_hover_mask  {
  color: #fff !important;
  background-color: #00A1B6;
}
.work_item:hover .work_hover_mask {
  opacity: 1;
}
.work_item:hover .work_hover_mask:before {
  transform: scale(1, 1);
}
.work_item:hover .work_hover_mask:after {
  transform: scale(1, 1);
}
.work_item:hover .work_hover_mask .mask-container h4 {
  transform: translateY(0);
}
.work_item:hover .work_hover_mask .mask-container p {
  transform: translateY(0);
}
.work_item:hover .work_hover_mask .mask-container .btn-default {
  transform: translateY(0);
}

.working_area_col4 .work_item .work_hover_mask .mask-container p {
  font-size: 14px;
  line-height: 22px;
}
.working_area_col4 .work_item .work_hover_mask .mask-container h4 {
  font-size: 18px;
  margin: 0 0 18px;
}
.working_area_col4 .work_item .work_hover_mask .mask-containers {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
}
.working_area_col4 .work_item .work_hover_mask .mask-container > span {
  display: block;
  margin: 1px;
}
.working_area_col4 .work_item .work_hover_mask .mask-container > span:before {
  font-size: 14px;
  line-height: 45px;
}
.text-center{
  text-align: center;

}
.centrar{
  margin: 0;
  margin :auto;
  text-align-last: center;
}